body{
font-family: Arial;
margin:0;
background:#f4f8fb;
}

header{
background:#0077b6;
color:white;
text-align:center;
padding:20px;
}

nav{
background:#023e8a;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

section{
padding:40px;
text-align:center;
}

h2{
color:#0077b6;
}

ul{
list-style:none;
padding:0;
}

button{
background:#0077b6;
color:white;
border:none;
padding:10px 20px;
cursor:pointer;
}

button:hover{
background:#023e8a;
}

footer{
background:#333;
color:white;
text-align:center;
padding:15px;
}
